[build]
  command = "npm run build"
  publish = "dist"

[[redirects]]
  from = "/android-app.apk"
  to = "/android-app.apk"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
